{% extends "foodblog/base.html" %}

{% block title %}
STEMeats
{% endblock %}

{% block body %}
	<div class="row hide-on-small-only">
		<!-- The tabs are horizontal on medium and large screens. -->
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3">
					<a class="active" href="#home">
						<div>Home</div>
					</a>
				</li>
				<li class="tab col s3">
					<a href="#eats">
						Eats
					</a>
				</li>
				<li class="tab col s3">
					<a href="#random">
						Random
					</a>
				</li>
				<li class="tab col s3">
					<a href="#data">
						Data
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row hide-on-med-and-up small">
		<!-- The tabs are vertical on small screens. -->
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s12">
					<a class="active" href="#home">
						<div>Home</div>
					</a>
				</li>
				<li class="tab col s12">
					<a href="#eats">
						Eats
					</a>
				</li>
				<li class="tab col s12">
					<a href="#random">
						Random
					</a>
				</li>
				<li class="tab col s12">
					<a href="#data">
						Data
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="home" class="active col s12">
		<!-- The main tab on the home page -->
		<p class="indented">
			Welcome to $\text{STEM}^{\text{eats}}$, a STEM-based food blog aiming to recommend delicious food in New York and showcase beautiful mathematical and scientific results. Our restaurants are based off of recommendations from our STEM teachers as well as our own culinary explorations in New York City.
		</p>
	</div>
	<div id="eats" class="col s12">
		<!-- The tab that displays posts -->
		<table>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>
							<a href="{% url 'restaurant_post' post.id %}">
								{{ post.title }}
							</a>
						</td>
						<td>{{ post.time }}</td>
						<td>{{ post.category }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="random" class="col s12 center-align">
		<!-- The tab that includes the random restaurant chooser -->
		<div class="col s-4">
			<div id="result_name"></div>
			<div id="result_location"></div>
		</div>
		<a id="randomize" class="waves-effect waves-white btn" href="">
			Randomize
		</a>
	</div>
	<div id="data" class="col s12 center-align">
		<!-- The tab that includes data on the restaurants -->
		<h3>Number of Restaurants Per Cuisine</h3>
		<svg class="chart"></svg>
	</div>

	{% include 'foodblog/footer.html' %}
{% endblock %}